@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@


<!--Page Title-->

<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>About Us</li>
            </ul>
            <h1>About Us</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Why Choose Us</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">


                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        BrainGain International Ltd, an indigenous Educational Service Provider,
                                        was set up to reignite and promote a reading culture among African
                                        Children and also enhance their mathematical dexterity from the
                                        foundation level. Reading is the scaffolding on which literacy skills are
                                        built and creating lifelong readers is well documented as a major factor in
                                        children's academic growth and development. And mathematics is the
                                        foundation of the sciences and all inventions. While reading is a good
                                        exercise for the right part of the brain, mathematics exercises the left
                                        part of the brain, thereby developing the full mental capacity of the
                                        children. <br>
                                        Our goal is to even go further and expose them to relevant resource
                                        materials that will enhance the basic educational proficiency of African
                                        Children by granting them access to a unique, remarkable, and affordable
                                        educational software product such as our recently launched BrainGainSpa
                                        platform with the British/American Educational Curriculum including our
                                        local content drawn from the National Educational Curriculum on various
                                        Subject Skills ranging from Grade 1 to Grade 12 i.e. Basic 1 or Primary 1
                                        to SSS3. The platform also provides Past Questions and Answers from
                                        Primary levels to Professional levels as well as an E-Library of various
                                        genres among other resources yet to be introduced.<br>
                                        We are inclined to believe that this educational softwares which most
                                        people in the western world have access to; is what has given impetus to
                                        the high educational standards and improved overall student performance
                                        in America and across Europe. We believe if our pupils in Africa have
                                        access to these softwares, hence the introduction of BrainGainSpa, it will
                                        tremendously transform the continent as a whole when it comes to
                                        educational standards and performance.<br>
                                        If a skill is taught and not practiced, it becomes ineffective and the skill is
                                        soon forgotten. Our mission is to build a knowledgeable society by the
                                        provision of Quality Educational Services that will ensure that African
                                        pupils/students can globally compete with their counterparts as this will
                                        help to significantly improve their knowledge and skills and make learning
                                        fun for them.<br>
                                        Our country, Nigeria ranked 140 out of 140 in Primary Education
                                        according to the World Economic Forum Report of 2016. We have made it
                                        part of our objectives to ensure we come within the first 80 in the next
                                        five years, hence the introduction of the BrainGainSpa platform tailored to
                                        specific needs that will play a major role in achieving this.
                                        We have identified several factors responsible for the poor educational
                                        standards in Africa, this includes but not limited to:
                                    </div>
                                    <ul class="list-style-two">
                                        <li> Lack of functional Libraries</li>
                                        <li>Lack of Literacy and Math Centres</li>
                                        <li>Limited Access to and or usage of affordable Educational Softwares</li>
                                        <li> High cost of internet access</li>
                                        <li> Low per capita Income</li>

                                        This is where we come in, trying to bridge the knowledge gap and ensure
                                        that some of these issues are resolved and the required infrastructure is
                                        put in place. So, whether a pupil/student is seeking to hone their skills,
                                        improve their test scores or performance in their upcoming certification
                                        exams, or just simply trying to build a culture of reading, we believe our
                                        platform is the right place to start.
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Our Team</h2>
        </div>

        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="@Url.Action("OluwafemiOduniyi", "Home")">Oluwafemi Oduniyi</a></h6>
                        <span class="designation">CEO</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="@Url.Action("VirtueOduniyi", "Home")">Virtue Oduniyi</a></h6>
                        <span class="designation">Executive Director</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="@Url.Action("EmekaAlbert", "Home")">Barr. Emeka Albert</a></h6>
                        <span class="designation">Director</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="@Url.Action("GhalibFahad", "Home")">Dr. Ghalib Fahad</a></h6>
                        <span class="designation">Advisor</span>
                    </div>
                </div>
            </div>
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-5.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="@Url.Action("StellaObe", "Home")">Stella Obe </a></h6>
                        <span class="designation">Advisor</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-6.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name">
                            <a href="@Url.Action("KingsleyEbhodaghe", "Home")">
                                Kingsley Omodiagbe Ebhodaghe
                            </a>
                        </h6>
                        <span class="designation">Consultant</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Content/imagesb/resource/team-7.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="@Url.Action("KennethBulus", "Home")">Kenneth Bulus</a></h6>
                        <span class="designation">Consultant</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                <div class="inner-box">

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Team Section -->
