@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BrainGainSpa …We bring eLearning and Earning together.</title>
    <!-- Stylesheets -->
    <link href="../../Content/cssb/bootstrap.css" rel="stylesheet">
    <link href="../../Content/pluginsb/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="../../Content/pluginsb/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="../../Content/pluginsb/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->

    <link href="./../Content/cssb/style.css" rel="stylesheet">
    <link href="./../Content/cssb/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../Content/imagesb/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../Content/imagesb/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">
        <!-- Preloader -->
        @*<div class="preloader"></div>*@

        <header class="main-header header-style-two">
            <!-- Header Top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="clearfix">
                        <div class="top-left">
                            <ul class="info-list clearfix">
                                <li><a href="tel:+2349139082761"><span class="fa fa-phone-square"></span> +234 (0) 913 908 2761</a></li>
                                <li><a href="mailto:cs@braingainspa.com"><span class="fa fa-envelope"></span>cs@braingainSpa.com</a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                            </ul>
                        </div>

                        <div class="top-right">
                            @*<div class="link-box search-box-bt"><a href="@Url.Action("Signup", "Account")">| <b><font color="#FFFFFF">SIGN UP</font></b> |</a> </div>
                                <div class="link-box search-box-bt"><a href="@Url.Action("Signin", "Account")">| <b><font color="#FFFFFF">SIGN IN</font></b> |</a> </div>*@
                            <div class="link-box search-box-bt"><a href="#">| <b><font color="#FFFFFF">SIGN UP</font></b> |</a> </div>
                            <div class="link-box search-box-bt"><a href="@Url.Action("Signin", "Account")">| <b><font color="#FFFFFF">SIGN IN</font></b> |</a> </div>
                            <div class="link-box search-box-bt"><a href="@Url.Action("FreeTrial", "Quiz")">| <b><font color="#FFFFFF">FREE TRIAL</font></b> |</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top -->
            <!-- Header Upper -->
            <!-- Header Upper -->
            <div class="header-upper">


                <div class="auto-container" style="background-image: url(../../Content/imagesb/splash-3.jpg); background-repeat:no-repeat; background-position: center;">

                    <div class="logo-outer">
                        <div class="logo"><a href="@Url.Action("Default", "Home")"><img src="../../Content/imagesb/BrainGainSpa.png" alt="" title=""></a></div>
                    </div>
                    <div class="nav-outer clearfix">

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-button"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">

                                <ul class="navigation clearfix">
                                   
                                    <li class="current dropdown"><a href="@Url.Action("Default", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                    <li class="dropdown">
                                        <a href="#">Resources</a>
                                        <ul>
                                            <li><a href="@Url.Action("SkillPractice", "Home")">Skill Practice</a></li>
                                            <li><a href="@Url.Action("PastQuestions", "Home")">Past Questions</a></li>
                                            <li><a href="@Url.Action("ELibrary", "Home")">E-Library</a></li>
                                            <li><a href="@Url.Action("EducationalGames", "Home")">Educational Games</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("ReferralPlans", "Home")">Referral Reward Plan</a></li>
                                    <li><a href="@Url.Action("BraingainFaces", "Home")">BrainGain Faces</a></li>
                                    <li><a href="@Url.Action("News", "Home")">News</a></li>
                                    <li><a href="@Url.Action("Testimonials", "Home")">Testimonials</a></li>
                                    <li><a href="@Url.Action("FAQs", "Home")">FAQs</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                    </div>
                </div>
            </div>
            <!--End Header Upper-->

        </header>
        <!-- End Main Header -->
        <!--Main Slider-->
        <section class="main-slider style-two">
            <marquee width="100%" direction="center" height="50px">
                <h3 style="color:cadetblue">LIVE LAUNCH COMING VERY SOON...</h3>
            </marquee>
            <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
                <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                    <ul>
                        <!-- Slide 1 -->
                        <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1681" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../Content/imagesb/main-slider/4.jpg">

                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../Content/imagesb/main-slider/3.jpg">

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-80','15','15','15']"
                                 data-voffset="['30','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-sun-2"></span>
                            </div>


                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-255','15','15','15']"
                                 data-voffset="['175','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-star"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['440','15','15','15']"
                                 data-voffset="['105','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-star-4"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['150','15','15','15']"
                                 data-voffset="['40','0','0','0']"
                                 data-x="['right','right','right','right']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-idea"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-360','15','15','15']"
                                 data-voffset="['150','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['bottom','bottom','bottom','bottom']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-pencil"></span>
                            </div>



                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['650','730','650','400']"
                                 data-whitespace="normal"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['-25','-25','-25','-25']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <h2>Skill Practice</h2>
                                <div style="color:#ffffff;">Practice and hone your skills with the COMPREHENSIVE <br>Grade 1-12 curriculum from various Subjects. Maths, English,<br>Basic Science & Technology, Civic Education... </div>
                            </div>




                            <div class="tp-caption tp-resizeme"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-width="['650','650','650','400']"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['190','190','130','190']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="link-box"><a href="@Url.Action("SkillPractice", "Home")" class="theme-btn btn-style-one">Learn More</a></div>
                            </div>
                        </li>

                        <!-- Slide 2 -->
                        <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1682" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../Content/imagesb/main-slider/4.jpg">

                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../Content/imagesb/main-slider/4.jpg">

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-80','15','15','15']"
                                 data-voffset="['30','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-sun-2"></span>
                            </div>


                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-255','15','15','15']"
                                 data-voffset="['175','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-star"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['440','15','15','15']"
                                 data-voffset="['105','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-star-4"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['150','15','15','15']"
                                 data-voffset="['40','0','0','0']"
                                 data-x="['right','right','right','right']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-idea"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-360','15','15','15']"
                                 data-voffset="['150','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['bottom','bottom','bottom','bottom']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-pencil"></span>
                            </div>


                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['650','730','650','400']"
                                 data-whitespace="normal"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['-25','-25','-25','-25']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>

                                <h2><font color="#FFFFFF">Past Q&As </font></h2>
                                <div style="color:#ffffff;">Boost your condfidence and improve your Exam<br>scores	 with our bank of thousands of Q&As from<br>Primary levels to Professional levels. </div>

                            </div>

                            <div class="tp-caption tp-resizeme"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-width="['650','650','650','400']"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['190','190','130','190']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="link-box"><a href="@Url.Action("PastQuestions", "Home")" class="theme-btn btn-style-one">Learn More</a></div>
                            </div>
                        </li>


                        <!-- Slide 2 -->
                        <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1682" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../Content/imagesb/main-slider/8.jpg">

                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../Content/imagesb/main-slider/8.jpg">

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-80','15','15','15']"
                                 data-voffset="['30','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-sun-2"></span>
                            </div>


                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-255','15','15','15']"
                                 data-voffset="['175','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-star"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['440','15','15','15']"
                                 data-voffset="['105','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-star-4"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['150','15','15','15']"
                                 data-voffset="['40','0','0','0']"
                                 data-x="['right','right','right','right']"
                                 data-y="['top','top','top','top']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-idea"></span>
                            </div>

                            <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-hoffset="['-360','15','15','15']"
                                 data-voffset="['150','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['bottom','bottom','bottom','bottom']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="icon icon-pencil"></span>
                            </div>

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['650','650','670','400']"
                                 data-whitespace="normal"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['-185','-180','-140','-210']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="title"></div>
                            </div>

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['650','730','650','400']"
                                 data-whitespace="normal"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['-25','-25','-25','-25']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <h2><font color="#FFFFFF"></font></h2>
                            </div>

                            <div class="tp-caption tp-resizeme"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-width="['650','650','650','400']"
                                 data-hoffset="['15','15','15','15']"
                                 data-voffset="['190','190','130','190']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="link-box"><a href="@Url.Action("ELibrary", "Home")" class="theme-btn btn-style-one">Learn More</a></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="scroll-to-top scroll-to-target" data-target="#about-section"><span class="icon icon-arrow-up"></span></div>
        </section>
        <!--End Main Slider-->
        <!-- About Section Two -->
        <section class="about-section-two" id="about-section">
            <div class="auto-container">
                <div class="parallax-scene parallax-scene-1 anim-icons">
                    <span data-depth="0.20" class="parallax-layer icon icon-rainbow-3"></span>
                    <span data-depth="0.40" class="parallax-layer icon icon-star-2"></span>
                    <span data-depth="0.30" class="parallax-layer icon icon-star-5"></span>
                    <span data-depth="0.50" class="parallax-layer icon icon-plane-2"></span>
                </div>

                <div class="sec-title text-center">
                    <h2>Welcome to<br>BrainGainSpa</h2>
                    <span class="title"></span>

                </div>

                <div class="row">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">

                                BrainGainSpa is a one-of-a-kind platform that brings to you the unique benefits of eLearning and the opportunity to earn as your kids learn – and you too.
                                It is an eLearning platform that brings the best of learning methods specifically tailored to meet the challenges and address the gaps and poor standards of education and other educational challenges of the African continent.
                                The prohibitive cost of quality education leaves majority of parents with no choice but to accept whatever they can afford. With BrainGainSpa, the high costs associated with enrolling in high-quality educational programs is completely eliminated!

                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-1.jpg" alt=""></figure>
                                <figure class="image2 wow fadeInRight"><img src="../../Content/imagesb/resource/about-img-2.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="background-image: url(../../Content/imagesb/splash.jpg); background-repeat:no-repeat; background-position: center;">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-4.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">

                                <strong>Now, your child can learn at his/her own pace.</strong><br>

                                With thousands of resources for children of different ages, BrainGainSpa provides unique advantages for children to learn at their own pace, in a fun and interactive way, wherever they are, at minimal costs, with world class resources that match the best, anywhere in the world.

                                <strong>You and your children can plan their learning schedule.</strong> Determine <i>what to learn</i> and <i>when to learn</i>. If you want to be there when your child is learning, the BrainGainSpa platform makes that possible.
                                The platform is yours 24/7.<br>


                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <!-- Content Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-3.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">
                                Set the times most convenient for you and your child if you must be there when they are learning. One major benefit of children setting their own learning schedule is the reduced stress and higher satisfaction leading to better outcomes.
                                <br><strong>Learning is completely student focused</strong>. Students prepare at their pace and are graded accordingly. The stress of moving at the pace of other students in a class is taken off of your child!

                                <br><strong>You can personalize learning based on your child’s ability</strong>. We take into consideration the individual differences of children.
                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-5.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">
                                You decide what topics to focus on with absolute flexibility. Your child is not forced to follow a particular order. They can focus more on a particular subject matter. They can skip over areas they are more comfortable with and focus on areas they want to pay more attention. They can spend time going over test and quiz questions to better prepare for any exam.
                                Resources are also recommended according to the knowledge, skills, and needs of each individual student.
                                <strong>The teacher scarcity and quality problem is solved for you.</strong> Children are exposed to high and professional levels of quality resources and learning methods comparable to those found anywhere in the world.




                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <!-- Content Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-124.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">
                                Consistency of standards is absolutely guaranteed. You are assured of what your child is learning.
                                Our platform has custom tailored resources and materials that will enhance the basic educational proficiency of the African student with local content drawn from National Educational Curriculums and also prepare them to compete globally with resources from the British and American Educational Curriculum.<br>
                                <i>With us, you can sleep easy, with nothing to worry about the quality of education your child is getting. You are guaranteed global educational standards for your child.</i>



                            </div>
                        </div>
                    </div>


                </div>





                <div class="row" style="background-image: url(../../Content/imagesb/splash.jpg); background-repeat:no-repeat; background-position: center;">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-123.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">
                                We don’t stop there. Learning is a lifelong thing. It never ends. That’s why we have some special resources for you as a parent or as an individual to deepen and broaden your knowledge. As a parent, show your kids by example that the acquisition of knowledge can never be over emphasized.<br>
                                <br>These are some of the awesome benefits of BrainGainSpa, but we take it a step further, beyond any other platform anywhere in the world.<br>




                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <!-- Content Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">
                                <strong>How about earning while your child learns? While you learn?</strong><br>
                                When you have a great experience at a restaurant or at the movies, naturally you will tell others about it.
                                That’s free advertising. You don’t get paid for that.
                                Nobody rewards you for spreading the word to friends and family about a great experience but <u>with BrainGainSpa you actually get rewarded</u> for sharing and spreading the word.
                                Our unique platform gives you the opportunity to <strong>earn affiliate commissions as your child or you learn</strong>. Because of the great benefits of the platform, we are sure you will love to refer and tell other people about it.



                            </div>
                        </div>
                    </div>


                </div>





                <div class="row" style="background-image: url(../../Content/imagesb/splash.jpg); background-repeat:no-repeat; background-position: center;">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image wow fadeInLeft"><img src="../../Content/imagesb/resource/about-img-6.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="text" style="text-align:justify;">
                                <strong>Tell. Share. Earn. It’s that easy.</strong><br><br>
                                Our affiliate program is open to everybody. All you have to do is tell others the benefits of the platform. When they sign up or sign up their children on the platform, you are rewarded handsomely. It is that simple.
                                <br>That’s why we say that <strong>We bring eLearning and Earning together</strong>.<br><br>
                                Share the benefits with others. <strong>Earn while you and your child learn!</strong>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        <!--End About Section Two -->

        <section class="offers-section" style="background-image: url(../../Content/imagesb/splash5.jpg); background-repeat:no-repeat; background-position: center; margin-top:10px;">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <span class="title">Features & Benefits</span>
                    <h2>What We Offer</h2>
                </div>

                <div class="row justify-content-center">
                    <!-- Offer Block -->
                    <!-- Offer Block -->
                    <div class="offer-block">
                        <div class="inner-box">
                            <div class="icon-box wow rollIn" data-wow-delay="600ms" style="background-image: linear-gradient(90deg, #FFFF00, #E6E600);">
                                <span class="icon flaticon-teddy-bear-1"></span>
                                <h5><font color="#FFFFFF">Relevant Curriculum</font></h5>

                                <div style="font-size:18px; line-height:21px; padding:20px;">Improve your skills everyday by practicing and learning with our curriculum-based content.</div>
                            </div>
                        </div>
                    </div>

                    <!-- Offer Block -->
                    <div class="offer-block">
                        <div class="inner-box">
                            <div class="icon-box wow rollIn" data-wow-delay="300ms" style="background-image: linear-gradient(90deg, #0066FF, #0046AE);">
                                <span class="icon flaticon-knowledge"></span>

                                <h5><font color="#FFFFFF">Access to learning<br>materials and books</font></h5>

                                <div style="font-size:18px; line-height:21px; padding:20px;">Explore our world of books and other fun learning tools by gaining access to our E-Library. </div>
                            </div>

                        </div>
                    </div>

                    <!-- Offer Block -->
                    <div class="offer-block">
                        <div class="inner-box">
                            <div class="icon-box wow rollIn" data-wow-delay="0ms" style="background-image: linear-gradient(90deg, #ffb311, #FE951F);">
                                <span class="icon flaticon-horse"></span>

                                <h5><font color="#FFFFFF">Incentives, awards<br>and scholarships</font></h5>

                                <div style="font-size:18px; line-height:21px; padding:20px;">We reward you for your consistent dedicated attitude to learning and excellent performance. </div>


                            </div>

                        </div>
                    </div>

                    <!-- Offer Block -->
                    <div class="offer-block">
                        <div class="inner-box">
                            <div class="icon-box wow rollIn" data-wow-delay="600ms" style="background-image: linear-gradient(90deg, #009966, #00BA45);">
                                <span class="icon flaticon-stopwatch"></span>

                                <h5><font color="#FFFFFF">Regular Competitions</font></h5>

                                <div style="font-size:18px; line-height:21px; padding:20px;">Participate with your peers in our competitions and become the face of BrainGainSpa!</div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Offer Section -->
        <!-- Call To Action -->
        <section class="call-to-action">
            <div class="parallax-scene parallax-scene-3 anim-icons">
                <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
                <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
                <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
                <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
                <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
            </div>

            <div class="auto-container">
                <div class="content-box">
                    <span class="title">Improve yourself online and offline everyday with BrainGainSpa</span>
                    <h2>Enroll Now	</h2>
                    <div class="btn-box"><a href="@Url.Action("SkillPractice", "Home")" class="theme-btn btn-style-two">View All Resources</a></div>
                </div>
            </div>
        </section>
        <!--End Call To Action -->
        <!--End Team Section -->
        <!-- Fluid Section One -->
        <section class="fluid-section-two">
            <div class="outer-container clearfix">


                <!--Content Column-->
                <div class="contact-column">
                    <div class="parallax-scene parallax-scene-4 anim-icons">
                        <span data-depth="0.50" class="parallax-layer icon icon-cloud-3"></span>
                        <span data-depth="0.30" class="parallax-layer icon icon-star-7"></span>
                        <span data-depth="0.40" class="parallax-layer icon icon-balloon-2"></span>
                    </div>

                    <div class="inner-column clearfix">
                        <div class="contact-form">
                            <div class="sec-title light">
                                <span class="title"></span>
                                <h2>Contact Us</h2>
                            </div>
                            <form>
                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Full name" required="">
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email address" required="">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Phone number" required="">
                                </div>

                                <div class="form-group">
                                    <textarea name="message" placeholder="Write message"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Map Column-->
                <div class="map-column">
                    <!--Map Outer-->
                    <div class="map-oute">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.194652245668!2d3.3761324147705793!3d6.497023295300231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c6210bed617%3A0xea12061c6ba2585f!2s19%20Olonode%20St%2C%20Alagomeji-Yaba%20100001%2C%20Lagos!5e0!3m2!1sen!2sng!4v1623160276352!5m2!1sen!2sng" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                </div>

            </div>
            <br><br>
            <div class="auto-container">
                <div class="sponsors-outer">
                    <!--Sponsors Carousel-->

                </div>
            </div>
        </section>
        <!--End Clients Section-->
        <!--Main Footer-->
        <footer class="main-footer">
            <div class="anim-icons">
                <span class="icon icon-sparrow wow zoomIn" data-wow-delay="400ms"></span>
                <span class="icon icon-rainbow-2 wow zoomIn" data-wow-delay="800ms"></span>
                <span class="icon icon-star-3"></span>
                <span class="icon icon-star-3 two"></span>
                <span class="icon icon-sun"></span>
                <span class="icon icon-plane wow zoomIn" data-wow-delay="1200ms"></span>
            </div>

            <!--Scroll to top-->
            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon icon-arrow-up"></span></div>

            <!--footer upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="@Url.Action("Default", "Home")"><img src="../../Content/imagesb/footer-logo.png" alt="" /></a>
                                        </div>
                                        <div class="text" style="color:#ffffff;">BrainGainSpa brings together the best of learning methods to meet the educational challenges of every learner. With 24/7 access to a wide variety of reliable fun resources and a unique referral reward plan, everyone gets to earn while learning anytime and anywhere.</div>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <!--Big Column-->
                        <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-4">
                                    <div class="footer-widget links-widget">
                                        <h4 class="widget-title">Explore</h4>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="@Url.Action("SkillPractice", "Home")" style="color:#ffffff;">Resources</a></li>
                                                <li><a href="#" style="color:#ffffff;">Sitemap</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <!--Footer Column-->
                                <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-4">
                                    <div class="footer-widget links-widget">
                                        <h4 class="widget-title">Resources</h4>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="#" style="color:#ffffff;">Privacy & Policy</a></li>
                                                <li><a href="#" style="color:#ffffff;">Terms & Conditions</a></li>
                                                <li><a href="@Url.Action("Contact", "Home")" style="color:#ffffff;">Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-xl-4 col-lg-3 col-md-6 col-sm-12">
                                    <div class="footer-widget activites-widget">
                                        <h4 class="widget-title">Community</h4>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="@Url.Action("ReferralPlans", "Home")" style="color:#ffffff;">Refer a Friend</a></li>
                                                <li><a href="@Url.Action("SkillPractice", "Home")" style="color:#ffffff;">Scholarships</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                <!--Footer Column-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <ul class="social-icon-colored">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                    </ul>
                    <div class="copyright" style="color:#ffffff;"> Copyrights &copy; 2021 BrainGainSpa</div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->

    </div>
    <!--End pagewrapper-->
    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="fa fa-times"></span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="#">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                            <input type="submit" value="Search Now!" class="theme-btn">
                        </fieldset>
                    </div>
                </form>

                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Education</a></li>
                </ul>

            </div>

        </div>
    </div>


    <script src="../../Content/jsb/jquery.js"></script>
    <script src="../../Content/jsb/popper.min.js"></script>
    <script src="../../Content/jsb/bootstrap.min.js"></script>
    <!--Revolution Slider-->
    <script src="../../Content/pluginsb/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../../Content/pluginsb/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="../../Content/jsb/main-slider-script.js"></script>
    <!--Revolution Slider-->
    <script src="../../Content/jsb/jquery-ui.js"></script>
    <script src="../../Content/jsb/jquery.fancybox.js"></script>
    <script src="../../Content/jsb/owl.js"></script>
    <script src="../../Content/jsb/jquery.countdown.js"></script>
    <script src="../../Content/jsb/wow.js"></script>
    <script src="../../Content/jsb/appear.js"></script>
    <script src="../../Content/jsb/parallax.min.js"></script>
    <script src="../../Content/jsb/script.js"></script>
    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcaOOcFcQ0hoTqANKZYz-0ii-J0aUoHjk"></script>
    <script src="../../Content/jsb/map-script.js"></script>
    <!--End Google Map APi-->
</body>

</html>