@model braingainspa.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutSigned.cshtml";
}


<div class="container">

    <div id="dvskl" class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-7">
            <fieldset>
                <legend>CHANGE PASSWORD</legend>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @if (@Html.ViewBag.Msg != null)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.ViewBag.Msg
                            </div>
                        }
                        @if (@Html.ViewBag.Err != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.ViewBag.Err
                            </div>
                        }

                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.SubscriptionID)*@
                        <div class="form-group">
                            <strong style="color:red">*</strong>@Html.LabelFor(model => model.NewPassword, "New Password", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8" style="text-align:left; font-weight:bolder;">
                                @Html.EditorFor(model => model.NewPassword, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password", @style = "width: 100%;max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong style="color:red">*</strong>@Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8" style="text-align:left; font-weight:bolder;">
                                @Html.EditorFor(model => model.ConfirmPassword, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password", @style = "width: 100%;max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @*<div class="col-md-6">
                                @*<a href="@Url.Action("NewPricing", "Account")" class="btn btn-primary btn-md" data-toggle="tooltip" title="Reset"><i class="glyphicon glyphicon-plus"></i>&nbsp;New&nbsp;</a>*
                            </div>*@
                            <div class="col-md-12">
                                <button value="Submit" class="btn btn-primary btn-lg" title="Submit" style="float:right;">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;Submit&nbsp;
                                </button>
                            </div>
                        </div>
                        <br /><br />
                        <p><strong style="color:red">*</strong>Required</p>
                    </div>
                }
            </fieldset>
        </div>
        <div class="col-md-4">
        </div>

    </div>
</div>
