@model braingainspa.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutUnSigned.cshtml";
}


<div class="container">
    <div id="dvskl" class="row">
        <div class="col-md-6 pull-left">
            <fieldset style="height:300px;">
                <legend>
                    Forgot Password
                </legend>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @if (@Html.ViewBag.Msg != null)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.ViewBag.Msg
                            </div>
                        }
                        @if (@Html.ViewBag.Err != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.ViewBag.Err
                            </div>
                        }

                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <p style="color:green; font-style:italic;">
                            <h5>Enter your registered Email to Change your password</h5>
                        </p>
                        <br /><br />
                        <div class="form-group">

                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8" style="text-align:left; font-weight:bolder;">
                                @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control", @id = "Email", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br /> <br /><br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @*<a href="@Url.Action("NewPricing", "Account")" class="btn btn-primary btn-md" data-toggle="tooltip" title="Reset"><i class="glyphicon glyphicon-plus"></i>&nbsp;New&nbsp;</a>*@
                                </div>
                                <div class="col-md-6">
                                    <button value="Submit" class="btn btn-primary btn-lg" title="Submit">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;Submit&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </fieldset>
        </div>
        <div class="col-md-6">
            
                <img src="../../Content/images/HIGHER-EDUCATION.png" alt="Higher Education" style="height:450px; width:auto; margin-top:0px;text-align:center;" />
           
        </div>
    </div>

</div>
