@model braingainspa.Models.Cours

@{
    ViewBag.Title = "Subjects";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <fieldset>
        <legend>SUBJECTS</legend>
        <br />
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("Courses", "Quiz", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @if (@Html.ViewBag.Msg != null)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.ViewBag.Msg
                            </div>
                        }
                        @if (@Html.ViewBag.Err != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.ViewBag.Err
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CourseID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.FacultyID, "Class", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("FacultyID", new SelectList(ViewBag.FacultyList, "FacultyID", "FacultyName"), "-- Select Class --", htmlAttributes: new { @class = "form-control", @placeholder = "Faculty", @style = "height:40px", @onchange = "this.form.submit();" })
                                @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.DepartmentID, "Department", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("DepartmentID", new SelectList(ViewBag.DepartmentList, "DepartmentID", "DepartmentName"), "-- Select Department --", htmlAttributes: new { @class = "form-control", @placeholder = "Department" })
                                    @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                </div>

                            </div>*@



                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseName, "Subject Name", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseCode, "Subject Code", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.CreditUnits, "Credit Units", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CreditUnits, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditUnits, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="@Url.Action("NewCourse", "Quiz")" class="btn btn-primary btn-md" data-toggle="tooltip" title="Reset"><i class="glyphicon glyphicon-plus"></i>&nbsp;New&nbsp;</a>
                            </div>
                            <div class="col-md-6">
                                <button value="Submit" class="btn btn-primary btn-md pull-right" title="Save">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save&nbsp;&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <hr />
        <div class="row">
            @Html.Partial("~/Views/Quiz/_Courses.cshtml")

        </div>
    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
