@model braingainspa.Models.Faculty

@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <br />
    <fieldset>
        <legend>CLASSES</legend>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <br />
                @using (Html.BeginForm("Faculties", "Quiz", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @if (@Html.ViewBag.Msg != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @Html.ViewBag.Msg
                        </div>
                    }
                    @if (@Html.ViewBag.Err != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @Html.ViewBag.Err
                        </div>
                    }

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.FacultyID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.SchoolID, "School", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("SchoolID", new SelectList(ViewBag.SchoolList, "SchoolID", "SchoolName"), "-- Select School --", htmlAttributes: new { @class = "form-control", @placeholder = "School", @style = "height:40px", @onchange = "this.form.submit();" })
                            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FacultyName, "Class Name", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FacultyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.FacultyName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ResourceTypeID, "Resource Types", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("ResourceTypeID", new SelectList(ViewBag.ResourceTypeList, "ResourceTypeID", "ResourceTypeName"), "-- Select Resource Type --", htmlAttributes: new { @class = "form-control", @style = "height:40px", @placeholder = "ResourceType" })
                            @Html.ValidationMessageFor(model => model.ResourceTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="@Url.Action("NewFaculties", "Quiz")" class="btn btn-primary btn-md" data-toggle="tooltip" title="Reset"><i class="glyphicon glyphicon-plus"></i>&nbsp;New&nbsp;</a>
                        </div>
                        <div class="col-md-6">
                            <button value="Submit" class="btn btn-primary btn-md pull-right" title="Save">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save&nbsp;&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                }

            </div>
            <div class="col-md-3">

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                @Html.Partial("~/Views/Quiz/_Faculties.cshtml")
            </div>
            <div class="col-md-1">

            </div>
        </div>

    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
